* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: LyonBlack;
    src: url(../fonts/COMM\ -\ Lyon\ Arabic\ Slanted\ Display\ Black.otf);
  }

  @font-face {
    font-family: LyonBold;
    src: url(../fonts/COMM\ -\ Lyon\ Arabic\ Slanted\ Display\ Bold.otf);
  }

  @font-face {
    font-family: LyonLight;
    src: url(../fonts/COMM\ -\ Lyon\ Arabic\ Slanted\ Display\ Light.otf);
  }

  @font-face {
    font-family: LyonMedium;
    src: url(../fonts/COMM\ -\ Lyon\ Arabic\ Slanted\ Display\ Medium.otf);
  }

  @font-face {
    font-family: LyonRegular;
    src: url(../fonts/COMM\ -\ Lyon\ Arabic\ Slanted\ Display\ Regular.otf);
  }

  @font-face {
    font-family: numberFont;
    src: url(../fonts/MAGNETOB.TTF);
  }

header {
    background-color: #DAC0A3;
    text-align: center;
    padding: 1vw 0vw;
}

header > img {
    width: 15vw;
}

.header {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    background-color: #F8F0E4;
  }
  
  .ExamLogo {
    grid-area: 1 / 1 / 2 / 2;
    padding: 5vw 0vw 0vw;
}

.ExamLogo > img {
    width: 40vw;
}

.lessons {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    gap: 4vw 0vw;
    padding: 0vw 2vw;
    background-color: #DAC0A3;
    text-align: center;
    grid-template-areas:
      "lesson3 lesson2 lesson1"
      "lesson6 lesson5 lesson4"
      "lesson9 lesson8 lesson7"
      "lesson12 lesson11 lesson10"
      "lesson15 lesson14 lesson13"
      "lesson18 lesson17 lesson16"
      "lesson21 lesson20 lesson19"
      "lesson24 lesson23 lesson22"
      "lesson27 lesson26 lesson25"
      "lesson30 lesson29 lesson28";
  }
  
  .lesson1 { grid-area: lesson1; display: flex; justify-content: center; align-items: center; background: linear-gradient(145deg, rgba(248,240,228,1) 0%, rgba(234,220,200,1) 100%); width: 28vw; height: 28vw; border-radius: 3vw; transition: 0.7s; box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;}
  
  .lesson2 { grid-area: lesson2; display: flex; justify-content: center; align-items: center; background: linear-gradient(145deg, rgba(248,240,228,1) 0%, rgba(234,220,200,1) 100%); width: 28vw; height: 28vw; border-radius: 3vw; transition: 0.7s; box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;}
  
  .lesson3 { grid-area: lesson3; display: flex; justify-content: center; align-items: center; background: linear-gradient(145deg, rgba(248,240,228,1) 0%, rgba(234,220,200,1) 100%); width: 28vw; height: 28vw; border-radius: 3vw; transition: 0.7s; box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;}
  
  .lesson5 { grid-area: lesson5; display: flex; justify-content: center; align-items: center; background: linear-gradient(145deg, rgba(248,240,228,1) 0%, rgba(234,220,200,1) 100%); width: 28vw; height: 28vw; border-radius: 3vw; transition: 0.7s; box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;}
  
  .lesson4 { grid-area: lesson4; display: flex; justify-content: center; align-items: center; background: linear-gradient(145deg, rgba(248,240,228,1) 0%, rgba(234,220,200,1) 100%); width: 28vw; height: 28vw; border-radius: 3vw; transition: 0.7s; box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;}
  
  .lesson6 { grid-area: lesson6; display: flex; justify-content: center; align-items: center; background: linear-gradient(145deg, rgba(248,240,228,1) 0%, rgba(234,220,200,1) 100%); width: 28vw; height: 28vw; border-radius: 3vw; transition: 0.7s; box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;}
  
  .lesson7 { grid-area: lesson7; display: flex; justify-content: center; align-items: center; background: linear-gradient(145deg, rgba(248,240,228,1) 0%, rgba(234,220,200,1) 100%); width: 28vw; height: 28vw; border-radius: 3vw; transition: 0.7s; box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;}
  
  .lesson8 { grid-area: lesson8; display: flex; justify-content: center; align-items: center; background: linear-gradient(145deg, rgba(248,240,228,1) 0%, rgba(234,220,200,1) 100%); width: 28vw; height: 28vw; border-radius: 3vw; transition: 0.7s; box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;}
  
  .lesson9 { grid-area: lesson9; display: flex; justify-content: center; align-items: center; background: linear-gradient(145deg, rgba(248,240,228,1) 0%, rgba(234,220,200,1) 100%); width: 28vw; height: 28vw; border-radius: 3vw; transition: 0.7s; box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;}
  
  .lesson10 { grid-area: lesson10; display: flex; justify-content: center; align-items: center; background: linear-gradient(145deg, rgba(248,240,228,1) 0%, rgba(234,220,200,1) 100%); width: 28vw; height: 28vw; border-radius: 3vw; transition: 0.7s; box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;}
  
  .lesson11 { grid-area: lesson11; display: flex; justify-content: center; align-items: center; background: linear-gradient(145deg, rgba(248,240,228,1) 0%, rgba(234,220,200,1) 100%); width: 28vw; height: 28vw; border-radius: 3vw; transition: 0.7s; box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;}

  .lesson12 { grid-area: lesson12; display: flex; justify-content: center; align-items: center; background: linear-gradient(145deg, rgba(248,240,228,1) 0%, rgba(234,220,200,1) 100%); width: 28vw; height: 28vw; border-radius: 3vw; transition: 0.7s; box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;}
  
  .lesson13 { grid-area: lesson13; display: flex; justify-content: center; align-items: center; background: linear-gradient(145deg, rgba(248,240,228,1) 0%, rgba(234,220,200,1) 100%); width: 28vw; height: 28vw; border-radius: 3vw; transition: 0.7s; box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;}
  
  .lesson14 { grid-area: lesson14; display: flex; justify-content: center; align-items: center; background: linear-gradient(145deg, rgba(248,240,228,1) 0%, rgba(234,220,200,1) 100%); width: 28vw; height: 28vw; border-radius: 3vw; transition: 0.7s; box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;}
  
  .lesson15 { grid-area: lesson15; display: flex; justify-content: center; align-items: center; background: linear-gradient(145deg, rgba(248,240,228,1) 0%, rgba(234,220,200,1) 100%); width: 28vw; height: 28vw; border-radius: 3vw; transition: 0.7s; box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;}
  
  .lesson16 { grid-area: lesson16; display: flex; justify-content: center; align-items: center; background: linear-gradient(145deg, rgba(248,240,228,1) 0%, rgba(234,220,200,1) 100%); width: 28vw; height: 28vw; border-radius: 3vw; transition: 0.7s; box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;}
  
  .lesson17 { grid-area: lesson17; display: flex; justify-content: center; align-items: center; background: linear-gradient(145deg, rgba(248,240,228,1) 0%, rgba(234,220,200,1) 100%); width: 28vw; height: 28vw; border-radius: 3vw; transition: 0.7s; box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;}
  
  .lesson18 { grid-area: lesson18; display: flex; justify-content: center; align-items: center; background: linear-gradient(145deg, rgba(248,240,228,1) 0%, rgba(234,220,200,1) 100%); width: 28vw; height: 28vw; border-radius: 3vw; transition: 0.7s; box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;}
  
  .lesson19 { grid-area: lesson19; display: flex; justify-content: center; align-items: center; background: linear-gradient(145deg, rgba(248,240,228,1) 0%, rgba(234,220,200,1) 100%); width: 28vw; height: 28vw; border-radius: 3vw; transition: 0.7s; box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;}
  
  .lesson20 { grid-area: lesson20; display: flex; justify-content: center; align-items: center; background: linear-gradient(145deg, rgba(248,240,228,1) 0%, rgba(234,220,200,1) 100%); width: 28vw; height: 28vw; border-radius: 3vw; transition: 0.7s; box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;}
  
  .lesson21 { grid-area: lesson21; display: flex; justify-content: center; align-items: center; background: linear-gradient(145deg, rgba(248,240,228,1) 0%, rgba(234,220,200,1) 100%); width: 28vw; height: 28vw; border-radius: 3vw; transition: 0.7s; box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;}
  
  .lesson22 { grid-area: lesson22; display: flex; justify-content: center; align-items: center; background: linear-gradient(145deg, rgba(248,240,228,1) 0%, rgba(234,220,200,1) 100%); width: 28vw; height: 28vw; border-radius: 3vw; transition: 0.7s; box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;}
  
  .lesson23 { grid-area: lesson23; display: flex; justify-content: center; align-items: center; background: linear-gradient(145deg, rgba(248,240,228,1) 0%, rgba(234,220,200,1) 100%); width: 28vw; height: 28vw; border-radius: 3vw; transition: 0.7s; box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;}
  
  .lesson24 { grid-area: lesson24; display: flex; justify-content: center; align-items: center; background: linear-gradient(145deg, rgba(248,240,228,1) 0%, rgba(234,220,200,1) 100%); width: 28vw; height: 28vw; border-radius: 3vw; transition: 0.7s; box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;}
  
  .lesson25 { grid-area: lesson25; display: flex; justify-content: center; align-items: center; background: linear-gradient(145deg, rgba(248,240,228,1) 0%, rgba(234,220,200,1) 100%); width: 28vw; height: 28vw; border-radius: 3vw; transition: 0.7s; box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;}
  
  .lesson26 { grid-area: lesson26; display: flex; justify-content: center; align-items: center; background: linear-gradient(145deg, rgba(248,240,228,1) 0%, rgba(234,220,200,1) 100%); width: 28vw; height: 28vw; border-radius: 3vw; transition: 0.7s; box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;}
  
  .lesson27 { grid-area: lesson27; display: flex; justify-content: center; align-items: center; background: linear-gradient(145deg, rgba(248,240,228,1) 0%, rgba(234,220,200,1) 100%); width: 28vw; height: 28vw; border-radius: 3vw; transition: 0.7s; box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;}
  
  .lesson28 { grid-area: lesson28; display: flex; justify-content: center; align-items: center; background: linear-gradient(145deg, rgba(248,240,228,1) 0%, rgba(234,220,200,1) 100%); width: 28vw; height: 28vw; border-radius: 3vw; transition: 0.7s; box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;}
  
  .lesson29 { grid-area: lesson29; display: flex; justify-content: center; align-items: center; background: linear-gradient(145deg, rgba(248,240,228,1) 0%, rgba(234,220,200,1) 100%); width: 28vw; height: 28vw; border-radius: 3vw; transition: 0.7s; box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;}
  
  .lesson30 { grid-area: lesson30; display: flex; justify-content: center; align-items: center; background: linear-gradient(145deg, rgba(248,240,228,1) 0%, rgba(234,220,200,1) 100%); width: 28vw; height: 28vw; border-radius: 3vw; transition: 0.7s; box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;}

  #lessonBox:hover {
    width: 30vw;
    height: 30vw;
  }

  .lesson {
    font-family: LyonBlack;
    color: #D9C1A2;
    font-size: 8vw;
  }

  .numbers {
    font-family: numberFont;
  }
  
  .me {  display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-rows: 1fr;
    gap: 0px 1vw;
    padding: 0vw 5vw;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    background-color: #F8F0E4;
    grid-template-areas:
      "whoAm memoji";
  }
  
  .memoji { grid-area: memoji; }

  .memoji > img {
    width: 33vw;
  }

  .whoAm { grid-area: whoAm;}

  .whoAm > h1 {
    font-family: LyonBlack;
    text-align: right;
    font-size: 5.5vw;
    color: #DAC0A3;
  }
  
  .whoAm > h3 {
    font-family: LyonLight;
    text-align: right;
    font-size: 5vw;
    padding: 3vw 0vw;
    color: #DAC0A3;
  }

  .socialMedia {
    display: flex;
    justify-content: space-evenly;
  }

  a {
    text-decoration: none;
  }

  .socialMediaIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9C1A2;
    border-radius: 50%;
    width: 6vw;
    height: 6vw;
    transition: 0.7s;
  }

  .socialMediaIcon:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8F0E4;
    border-radius: 50%;
    width: 7vw;
    height: 7vw;
  }
  
  i {
    color: #F8F0E4;
    font-size: 4vw;
    transition: 0.7s;
  }

  i:hover {
    color: #D9C1A2;
    font-size: 4vw;
  }

  footer {
    background-color: #F8F0E4;
    height: 25vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .meow {
    color: #D9C1A2;
    padding-bottom: 2vw;
    font-family: LyonRegular;
  }
